.container
{
    border: 10px white solid;
    margin: 0 auto;
    width: 50em;
    background-color: white;
    overflow: hidden;
}
.heading
{
    background-color: #A8F0F0;
    text-align: right;
}
.heading h2
{
    font-size: 14pt;
}
article
{
    border: 4px #C2E9E9 solid;
    background-color: #E8FBFB;
    padding: 5px;
    margin-top: 10px;
    overflow: hidden;
}
article img
{
    float: right;
}
.date
{
    border-bottom: 5px #009097 dashed;
    display: inline;
}
body
{
    background-image: url(images/lab3.jpg);
}
aside
{
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px;
    background-color: #52E3E3;
    border:5px #26DE7C solid;
    float: left;
	width: 30%;
}
main
{
    float: left;
	width: 67%;
    padding: 0;
}
aside ul
{
    list-style-type:square;
}
.hovering:hover
{
    background-color: yellow;
}